@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #262626;
  --font-afacad: 'Afacad', sans-serif;
  --light-green: #EDFBEE;
  --dark-green: #00923F;
  --yellow-color: #FEF200;
  --text-color: #404040;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #262626;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-afacad);
}

.heroBg {
  background: url('/public/images/tealbg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 9999;
}